/* src/components/Header.css */

.App-header {
  background-color: #fff;
  padding: 15px 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.Nav-bar {
  display: flex;
  justify-content: space-between;
}

.Nav-left a,
.Nav-right a {
  text-decoration: none;
  color: #5f6368;
  margin: 0 15px;
  font-size: 14px;
}

.Nav-right {
  display: flex;
  align-items: center;
}

.App-icon {
  font-size: 20px;
  margin-left: 20px;
}
